.container {
  background-color: bisque;
  min-width: 220px;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  font-family: 'Oswald', sans-serif;
}

.container > h5 {
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  padding: 7px 0;
  font-family: 'Montserrat', sans-serif;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.content::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgb(224, 220, 228);
  border-radius: 5px;
  margin: 3px;
}

.content::-webkit-scrollbar-thumb {
  background: rgba(2, 0, 36, 1);
  border-radius: 5px;
}
