.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #000;
  font-family: 'Oswald', sans-serif;
}

.button:hover {
  background-color: rgb(99, 128, 254);
  color: aliceblue;
  transition: 0.3s;
}
