.blur {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
}

.container {

  background-color: #A9B3CE;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-family: 'Montserrat', sans-serif;
  height: fit-content;
  position: absolute;
  top: 50%;
  right: 50%;
  margin: auto;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 400px;
}

.content > h6 {
  font-family: 'Oswald', sans-serif;
}

.input {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
  border-radius: 5px;
  padding: 5px;
}

.input:hover {
  cursor: pointer;
  background-color: rgb(245, 255, 255);
  transition: 0.3s;
}

.input:focus {
  outline: none;
  background-color: rgb(241, 250, 222);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.buttons_container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  width: fit-content;
  padding: 2px 30px;
  background: transparent;
  border-radius: 50px;
  /* border: 1px solid #000; */
  border: none;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  font-family: 'Oswald', sans-serif;
}

.button:first-child:hover {
  background-color: rgb(49, 161, 49);
  color: aliceblue;
  transition: 0.3s;
}

.button:last-child:hover {
  background-color: rgb(233, 110, 110);
  color: aliceblue;
  transition: 0.3s;
}

.authError {
    color: rgb(201, 47, 47);
    margin-bottom: 0;
    text-align: center;
    font-size: 0.9rem;
  }

.create_column_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


  @media only screen and (max-width: 620px) and (min-width: 450px) {
    .content {
        width: 200px;
    }

    .container {
      width: 60%;
    }

  }

  @media only screen and (max-width: 450px) and (min-width: 320px) {
    .content {
        width: 200px;
    }

    .container {
      width: 80%;
    }

  }


