.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    align-items: flex-end;
    margin-top: auto;
    font-family: 'Montserrat', sans-serif;
}

.container > img {
    width: 6%;
    height: 6%;
}

.container > a {
    text-decoration: none;
}