.container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 20px;
    justify-content: center;
}

.profile_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    align-items: center;
}

.profile_content > img {
    width: 250px;
}

.profile_edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.input {
    border-radius: 5px;
    padding: 5px;
}

.input:hover {
    cursor: pointer;
    background-color: rgb(215, 255, 254);
    transition: 0.3s;
}

.input:focus {
    outline-color: rgb(7, 19, 240);
}

.button {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #000;
    font-family: 'Oswald', sans-serif;
}

.button:hover {
    background-color: rgb(99, 128, 254);
    color: aliceblue;
    transition: 0.3s;
}