.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 20px;
    font-family: 'Oswald', sans-serif;
}

.project_content {
    font-family: 'Montserrat', sans-serif;
}

.developers_content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}


.logo {
    font-family: 'Staatliches', cursive;
    font-size: 2em ;
    margin: 0;
    color: #000;
}
