.container {
  position: absolute;
  background-color: rgb(255, 173, 173);
  border-radius: 5px;
  top: 66px;
  right: 0;
  padding: 10px 40px;
  animation-name: changeOpacity;
  animation-duration: 1s;
  font-family: 'Oswald', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.container:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  transition: 0.3s;
}

.stringInfo {
  margin: 5px;
}

.img {
  position: absolute;
  right: 10px;
  opacity: 0.75;
}

.img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.3s;
  opacity: 1;
}

@keyframes changeOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media only screen and (max-width: 620px) and (min-width: 450px) {
  .container {
      width: max-content;
  }

  .stringInfo {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 450px) and (min-width: 320px) {

  .stringInfo {
    font-size: 0.6em;
  }
}